@import url('https://fonts.googleapis.com/css?family=Zilla+Slab');
/*=========  basic  =========*/
a {
  color: #e1e1e1;
}
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: #e1e1e1;
}
* {
  font-family: 'Zilla Slab', serif;
  font-size: 16px;
}
li,
ul {
  padding: 0;
  margin: 0;
}
body,
html {
  height: 100%;
}
.center_block {
  display: block;
  margin: 0 auto;
}
section {
  padding: 50px 0;
}
#toTop {
  width: 80px;
  line-height: 50px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 15px;
  /* отступ кнопки от нижнего края страницы*/
  right: 15px;
  cursor: pointer;
  display: none;
  color: #ffa14a;
  font-family: verdana;
  font-size: 11px;
  border: 1px solid #ffa14a;
  opacity: 0.7;
}
#toTop i {
  margin-top: 5px;
}
/*=========  NAVGATION =========*/
nav#header {
  width: 100%;
  position: fixed;
  z-index: 999;
  background: #1d1d1d;
  padding: 5px 0;
  color: #e1e1e1;
}
nav#header img {
  padding: 5px 0;
}
nav#header img:hover {
  -moz-transition: all 0.2s 0.02s ease;
  -o-transition: all 0.2s 0.02s ease;
  -webkit-transition: all 0.2s 0.02s ease;
  opacity: 0.7;
}
nav#header .horizontal-menu {
  margin-left: 0;
  padding: 5px 0;
}
nav#header .horizontal-menu li {
  text-transform: uppercase;
  display: inline-block;
}
nav#header .horizontal-menu li a {
  color: #fff;
  font-size: 20px;
  padding: 5px 15px;
  border-radius: 3px;
}
nav#header .horizontal-menu li a:hover {
  background: #dfb080;
}
nav#header .horizontal-menu ul.submenu {
  margin-top: -5px;
  margin-left: 150px;
  background: #dfb080;
  display: none;
  padding: 0 0;
}
nav#header .horizontal-menu ul.submenu li {
  display: list-item;
  border-radius: 0;
}
nav#header .horizontal-menu ul.submenu li a {
  font-size: 16px;
  color: #e1e1e1;
  border-radius: 0;
  border-top: 1.5px dashed #e1e1e1;
}
nav#header .horizontal-menu ul.submenu li a:hover {
  background: #d66e0a;
}
nav#header .horizontal-menu li.has-submenu:hover .submenu {
  display: block;
}
nav#header .horizontal-menu li.has-submenu:hover a {
  background: #dfb080;
  border-radius: 3px;
}
nav#header .horizontal-menu .shopping-cart {
  display: inline-block;
}
nav#header .horizontal-menu .cart-items-count {
  display: inline-block;
}
/*========= Main screen   =========*/
section#main {
  z-index: 0;
  padding: 0;
}
section#main .header_item {
  padding: 25px 50px;
  padding-top: 0;
  border: 3px solid #dfb080;
  border-radius: 5px;
  margin-top: 15%;
  background: rgba(0, 0, 0, 0.6);
}
section#main .header_item h2 {
  color: #dfb080;
  margin: 40px 0 20px 0;
}
section#main .header_item h1 {
  color: #d66e0a;
  margin: 15px 0;
  font-size: 50px;
}
section#main .header_item h3 {
  color: #e1e1e1;
  margin: 20px 0;
}
section#main .item-1 {
  top: 0;
  background: url(../img/header/food-1.jpg) no-repeat center center;
  background-size: cover;
  min-height: 100vh;
}
section#main .item-2 {
  background: url(../img/header/food-2.jpg) no-repeat center center;
  background-size: cover;
  min-height: 100vh;
}
section#main .item-3 {
  background: url(../img/header/food-3.jpg) no-repeat center center;
  background-size: cover;
  min-height: 100vh;
}
section#europe {
  margin-bottom: 15px;
}
section#europe h2 {
  color: #705e51;
  margin: 20px 0;
}
section#europe a {
  color: #e1e1e1;
}
section#europe .row div.item {
  border: 4px solid #e2b282;
  border-radius: 8px;
  width: 45%;
  margin: 10px 10px;
}
section#europe h1 {
  opacity: 0.7;
  font-size: 45px;
  padding: 50px 0;
}
section#europe a #pizza {
  background: url(../img/categories/pizza-ratio-10x4.jpg) no-repeat center center;
  background-size: cover;
}
section#europe a #sushi {
  background: url(../img/categories/sushi-ratio-10x4.jpg) no-repeat center center;
  background-size: cover;
}
section#europe a #desert {
  background: url(../img/categories/desert-ratio-10x4.jpg) no-repeat center center;
  background-size: cover;
}
section#europe a #pasta {
  background: url(../img/categories/pasta-ratio-10x4.jpg) no-repeat center center;
  background-size: cover;
}
section#europe a:hover h1 {
  opacity: 1;
}
section#europe a:hover .img-overlay {
  -moz-transition: all 0.2s 0.02s ease;
  -o-transition: all 0.2s 0.02s ease;
  -webkit-transition: all 0.2s 0.02s ease;
  background: rgba(0, 0, 0, 0.7);
}
section#cookies {
  background: url(../img/cookies-2.jpg) no-repeat center center;
  background-size: cover;
  color: #e1e1e1;
  min-height: 100vh;
}
section#cookies .text {
  background: rgba(0, 0, 0, 0.7);
  border: 3px solid #e2b282;
  border-radius: 5px;
  padding: 40px 50px;
  margin-top: 15vh;
}
section#cookies .text h2 {
  margin-bottom: 25px;
  font-size: 35px;
}
section#cookies .text p {
  margin: 15px 0;
  font-size: 18px;
}
section#menu h2 {
  color: #705e51;
  padding: 20px 0;
}
section#menu .menu-item {
  margin-bottom: 30px;
}
section#menu .menu-item h3 {
  margin-top: 5px;
  margin-bottom: 15px;
  color: #e2b2a1;
  font-size: 35px;
}
section#menu .menu-item p {
  margin: 10px 0;
  border-bottom: 1px solid #e2b282;
}
section#menu .menu-item p .name {
  text-align: left;
}
section#menu .menu-item p .price {
  color: #ffc73f;
  text-align: right;
  float: right;
  font-weight: bold;
}
section#happy {
  background: url(../img/cook.jpg) no-repeat center center;
  background-size: cover;
  color: #e1e1e1;
  min-height: 100vh;
}
section#happy h3 {
  color: #c26303;
  font-size: 75px;
  margin: 15px 0;
  margin-bottom: 40px;
}
section#happy h2 {
  margin: 40px 0;
  margin-bottom: 90px;
  font-size: 55px;
}
section#happy p {
  margin: 20px 0;
  margin-bottom: 90px;
}
section#happy a {
  padding: 10px 20px;
  color: #e1e1e1;
  background: #ff7f00;
  border-radius: 3px;
  font-size: 35px;
}
section#happy a:hover {
  color: #1d1d1d;
  -moz-transition: all 0.2s 0.02s ease;
  -o-transition: all 0.2s 0.02s ease;
  -webkit-transition: all 0.2s 0.02s ease;
  background: rgba(255, 255, 255, 0.5);
}
section#coffee img {
  margin-top: 50px;
}
section#coffee h2 {
  margin: 20px 0;
  color: #705e56;
}
section#coffee p {
  margin: 15px 0;
  font-size: 18px;
}
section#fresh {
  background: url(../img/sweets-background.jpg) no-repeat center center;
  background-size: cover;
  color: #e1e1e1;
}
section#fresh .text {
  background: rgba(0, 0, 0, 0.7);
  border: 3px solid #e2b282;
  border-radius: 5px;
  padding: 40px 50px;
}
section#fresh .text h2 {
  margin-bottom: 25px;
  font-size: 35px;
}
section#fresh .text p {
  margin: 15px 0;
  font-size: 18px;
}
/*=====footer======*/
section#footer {
  background: #313131;
  color: #e1e1e1;
}
section#footer p.phone strong {
  color: #ff7f0c;
  font-size: 28px;
}
section#footer p.phone {
  font-size: 22px;
  display: inline-block;
  margin-right: 20px;
}
section#footer img {
  width: 18px;
  height: 18px;
}
section#footer .map {
  margin: 15px 0;
}
section#footer .map iframe {
  border: 4px solid #e2b282;
  border-radius: 5px;
}
section#footer a.social {
  margin-right: 5px;
  background-color: #ff7f07;
  opacity: 0.4;
  border-radius: 50%;
  padding: 7px;
}
section#footer a.social:hover {
  -moz-transition: all 0.2s 0.02s ease;
  -o-transition: all 0.2s 0.02s ease;
  -webkit-transition: all 0.2s 0.02s ease;
  opacity: 1;
}
section#footer h3 {
  color: #e2ad6d;
  font-size: 35px;
}
section#footer a {
  color: #e2ad6d;
}
section#footer a:hover {
  opacity: 0.7;
}
section#footer .more li {
  display: inline-block;
  padding: 5px 0;
  margin-right: 15px;
}
section#footer .more li a {
  color: #e2ad6d;
}
section#footer .more li a:hover {
  opacity: 0.7;
}
/*===================THE OFFER PAGE=====================*/
section.theway {
  padding-bottom: 0;
  background-color: #eff2f7;
  padding-left: 15px;
  font-size: 18px;
}
section.theway .padding {
  padding: 4px 0;
}
section.theway a {
  color: #eee2a6;
}
section#every-five {
  background: url(../img/offer/cup-background.jpg) no-repeat center center;
  background-size: cover;
  color: #e1e1e1;
  min-height: 100vh;
}
section#every-five .text {
  background: rgba(0, 0, 0, 0.7);
  border: 3px solid #e2b282;
  border-radius: 10px;
  padding: 40px 50px;
  margin-top: 15vh;
}
section#every-five .text h2 {
  margin-bottom: 25px;
  font-size: 35px;
}
section#every-five .text p {
  margin: 15px 0;
  font-size: 18px;
}
section#cookies-sell {
  background: url(../img/offer/cookies.jpg) no-repeat center center;
  background-size: cover;
  color: #e1e1e1;
  min-height: 100vh;
}
section#cookies-sell .text {
  background: rgba(0, 0, 0, 0.7);
  border: 3px solid #e2b282;
  border-radius: 10px;
  padding: 40px 50px;
  margin-top: 15vh;
}
section#cookies-sell .text h2 {
  margin-bottom: 25px;
  font-size: 35px;
}
section#cookies-sell .text p {
  margin: 15px 0;
  font-size: 18px;
}
section#mors-sell {
  background: url(../img/offer/sweets-background.jpg) no-repeat center center;
  background-size: cover;
  color: #e1e1e1;
  height: 100vh;
}
section#mors-sell .text {
  margin-top: 15vh;
  background: rgba(0, 0, 0, 0.7);
  border: 3px solid #e2b282;
  border-radius: 10px;
  padding: 40px 50px;
}
section#mors-sell .text h2 {
  margin-bottom: 25px;
  font-size: 35px;
}
section#mors-sell .text p {
  margin: 15px 0;
  font-size: 18px;
}
/*==================       MENU PAGE        ===================*/
section#menu-page h1 {
  margin-top: 40px;
  margin-bottom: 20px;
  color: #e2b282;
}
section#menu-page .menu-items {
  padding-top: 10px;
  padding-bottom: 10px;
}
section#menu-page .menu-items a {
  display: list-item;
  list-style-type: none;
  color: #e2b282;
  padding: 5px 10px;
  font-size: 18px;
}
section#menu-page .menu-items a:hover {
  color: #ff7f00;
}
section#menu-page .product-icon {
  margin-top: 10px;
  margin-bottom: 20px;
  margin: 10px 2% 20px 1%;
  padding: 0;
  background-color: #d6dce4;
  border: 1px dashed #dbc6b2;
  border-radius: 10px;
  width: 30%;
}
section#menu-page .product-icon img {
  display: block;
  margin: 0 auto;
  width: 100%;
  z-index: -1;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
section#menu-page .product-icon .product-name {
  padding: 8px;
  min-height: 145px;
}
section#menu-page .product-icon .product-name p {
  font-size: 18px;
}
section#menu-page .product-icon .product-name p a {
  color: #ff7f15;
  font-size: 24px;
}
section#menu-page .product-icon .product-name-desc {
  margin-top: 10px;
  color: #000;
}
section#menu-page .product-icon .price {
  color: #e1b282;
  font-size: 32px;
  padding: 4px 0;
}
section#menu-page .product-icon .price-new {
  color: #ff7f00;
  padding: 4px 0;
  font-size: 32px;
}
section#menu-page .product-icon .price-new span {
  color: #e1b282;
  font-size: 24px;
  margin-right: 5px;
  text-decoration: line-through;
}
section#menu-page .product-icon .product-buy {
  padding: 10px;
}
section#menu-page .product-icon .product-buy a {
  width: 100%;
  padding: 7px;
  padding-left: 35%;
  padding-right: 35%;
  background-color: #ff7f00;
  border-radius: 5px;
  font-size: 18px;
  color: #fff;
}
section#menu-page .product-icon:hover {
  -moz-transition: all 0.2s 0.05s ease;
  -o-transition: all 0.2s 0.05s ease;
  -webkit-transition: all 0.2s 0.05s ease;
  background-color: #fff;
  border: 1px solid #f6dda6;
}
section#menu-page .product-icon:hover .product-buy a:hover {
  -moz-transition: all 0.2s 0.05s ease;
  -o-transition: all 0.2s 0.05s ease;
  -webkit-transition: all 0.2s 0.05s ease;
  background-color: #313131;
}
section#menu-page .product-icon:hover .image img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
section#menu-page .product-icon:hover .image img:hover {
  opacity: 0.7;
}
section#menu-page .image {
  overflow: hidden;
}
section#menu-page .image img {
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}
/*======================     ABOUT US PAGE     ==============*/
section#page-about-us {
  background: url(../img/about-us/about-main.jpg) no-repeat center center;
  background-size: cover;
  color: #fff;
  min-height: 100vh;
}
section#page-about-us .text {
  margin-top: 20vh;
  padding: 40px 50px;
}
section#page-about-us .text h2 {
  margin-bottom: 25px;
  font-size: 42px;
  text-transform: uppercase;
}
section#page-about-us .text p {
  margin: 15px 0;
  font-size: 24px;
}
section#page-why-we {
  min-height: 100vh;
}
section#page-why-we h3 {
  color: #e2b282;
  z-index: 1;
  font-size: 44px;
  margin-top: -40%;
}
section#page-why-we h2 {
  color: #988a81;
  font-size: 50px;
  margin-top: 15vh;
}
section#page-why-we .photo {
  display: inline-block;
  margin-top: 10vh;
}
section#page-why-we img {
  z-index: -1;
  max-height: 384px;
  width: 100%;
  border: 4px solid #f0d8c0;
  border-radius: 10px;
}
section#page-why-we .photo:hover img {
  opacity: 0.7;
}
section#page-why-we .photo:hover h3 {
  opacity: 1.5;
}
section#page-out-meta {
  background: url(../img/about-us/about-us-cook.jpg) no-repeat center center;
  background-size: cover;
  color: #fff;
  min-height: 100vh;
}
section#page-out-meta .text {
  margin-top: 20vh;
  padding: 40px 50px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
}
section#page-out-meta .text h2 {
  margin-bottom: 25px;
  font-size: 42px;
  text-transform: uppercase;
}
section#page-out-meta .text p {
  margin: 15px 0;
  font-size: 24px;
}
section#page-our-team {
  min-height: 100vh;
}
section#page-our-team h2 {
  color: #a1968d;
  font-size: 42px;
  padding: 40px 20px;
}
section#page-our-team p {
  margin: 15px 0;
  font-size: 18px;
}
section#page-our-team p img {
  border: 4px solid #e2b282;
  border-radius: 10px;
}
section#page-our-team h3 {
  margin: 15px 0;
  color: #e2b282;
  font-size: 32px;
}
section#page-food-art {
  min-height: 100vh;
}
section#page-food-art h2 {
  padding: 20px 0;
  margin: 30px 0;
  font-size: 42px;
  color: #aea49c;
  margin-left: 20px;
}
section#page-food-art iframe {
  margin: 15px 0;
  border: 5px solid #e2b282;
  border-radius: 10px;
}
section#page-food-art .text p {
  margin: 15px 0;
  font-size: 18px;
}
section#page-feedback {
  min-height: 100vh;
}
section#page-feedback h2 {
  padding: 20px 0;
  margin: 30px 0;
  font-size: 42px;
  color: #aea49c;
  margin-left: 20px;
}
section#page-feedback p {
  margin: 15px 0;
  color: black;
  font-size: 20px;
  min-height: 180px;
}
section#page-feedback h3 {
  margin: 15px 0;
  font-size: 32px;
  color: #f0d7bd;
}
/*================БЛОГ======================*/
section#page-blog .news-item {
  margin: 15px 0;
}
section#page-blog h1 {
  color: #e2b4a3;
}
section#page-blog a {
  color: #e2b4a3;
  font-size: 22px;
  margin: 10px 0;
}
section#page-blog .header {
  margin: 10px 0;
}
section#page-blog p {
  color: black;
}
section#page-blog img {
  max-height: 124px;
  max-width: 184px;
  border: 3px solid #e2b4a3;
  border-radius: 5px;
}
section#page-blog .photo {
  float: left;
  display: inline-block;
}
section#page-blog .text {
  float: right;
  display: inline-block;
  max-width: 400px;
  font-size: 16px;
}
/*====Contacts===========*/
section#cont-main {
  background: url(../img/contacts/contacts-main.jpg) no-repeat center center;
  background-size: cover;
  color: #fff;
  min-height: 100vh;
}
section#cont-main .text {
  margin-top: 15vh;
  padding: 40px 50px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
}
section#cont-main .text h2 {
  margin-bottom: 25px;
  font-size: 42px;
  text-transform: uppercase;
}
section#cont-main .text p {
  margin: 15px 0;
  font-size: 24px;
}
section#cont-main .text h3 {
  color: #e2b282;
}
